@import "tailwindcss";
@import "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";
@source "../node_modules/flowbite-react";
@source "../node_modules/flowbite";
@custom-variant dark (&:where(.dark, .dark *));

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  :root {
    --background: #342e42;
    --foreground: #656076;

    --cardtext: #c6c9cf;
    --buttoncolor: #342e42;

    --bottomgradient: #000000;
    --topgradient: #0f0325;

  }

  .fade-style {
  animation: fade-in 2.5s;
  }

  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1.0;
    }
  }
}