@import "tailwindcss";
@import "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  :root {
    --background: #342e42;
    --foreground: #656076;

    --cardtext: #c6c9cf;
    --buttoncolor: #342e42;
  }
}